<!doctype html>
<html>
  <head>
    <title>About <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=siteName%></h1>
    <p>Wellness And Wardrobe is for fashion enthusiasts, health-conscious individuals, bloggers, 
      and anyone seeking fashion inspiration or wellness tips.</p>
  </body>
</html>