<!doctype html>
<html>
<head>
    <title>Delete User</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1>Delete a User</h1>
    <form action="/userdeleted" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <button type="submit">Delete User</button>
    </form>
</body>
</html>
