<!doctype html>
<html>
  <head>
    <title><%=siteName%> Homepage</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <!-- Add the image at the top -->
    <div class="logo-container"><img src="../images/blog logo.png" alt="Blog Website Logo" class="logo-pic"></div>

    <!-- <h1>Welcome to <%=siteName%></h1> -->

    <!-- Wrap links in a nav element -->
    <nav>
        <a href="/" class="nav-links">Home</a>
        <a href="about" class="nav-links">About <%=siteName%></a>
        <a href="register" class="nav-links">Register with us</a>
        <a href="listusers" class="nav-links">List users</a>
        <a href="login" class="nav-links">Login</a>
        <a href="deleteuser" class="nav-links">Delete User</a>
        <a href="logout" class="nav-links">Logout</a>
    </nav>

  </body>
</html>

