<!doctype html>
<html>
  <head>
    <title>Welcome to <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=siteName%></h1>
    <p><a href="about">About <%=siteName%></a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="listusers">List users</a></p>
    <p><a href="login">Login</a></p>
    <p><a href="deleteuser">Delete User</a></p>
    <p><a href="logout">Logout</a></p>
  </body>
</html>
