/* === GLOBAL STYLES === */

/* Overall body style */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white; 
}

h1, h2 {
  font-size: 20px;
  color: #9AAB89;
  text-align: center;
}

p, li {
  color: black;
}

/* === LINKS STYLING === */

a:link, a:visited {
  color: blue;
  text-decoration: none;
  padding: 5px;
}

a:visited {
  color: purple;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

a:active {
  color: red;
  text-decoration: underline;
}

/* === BLOG LOGO STYLING === */

.logo-container {
  display: block;
  width: 100%;
  text-align: center;
}

.logo-pic {
  width: 20vw;
  max-width: 1000px;
  height: auto;
  display: inline-block;
}

/* === NAVIGATION STYLES === */

nav {
  background-color: #A6C7B6;
  padding: 10px 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin: 0 15px;
}

.nav-links:link, .nav-links:visited {
  color: #6B4724;
  text-decoration: none;
  padding: 5px;
}

.nav-links:hover, .nav-links:active, .nav-links.current {
  color: white;
  background-color: #B8A082;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
}

/* === CONTENT STYLING === */

.about-description {
  text-align: center;
}

/* === FORM STYLES === */

.search-container, .login-container, .register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#search-box::placeholder {
  color: grey;
}

#search-box:focus::placeholder {
  color: transparent;
}

input[type="submit"] {
  background-color: #A6C7B6;
  color: #6B4724;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #B8A082;
  color: white;
}

.login-container form, .register-container form {
  text-align: center;
}
